<h1>Senator Stable is the premier tool for political operatives to manage their collection of elected and appointed officials.</h1>

<h3>Technologies used to build this project include, but are not limited to the following:</h3>
<ul>
  <li><a href="https://git-scm.com/">GitHub</a></li>
  <li><a href="https://nodejs.org/">Node Project Manager</a></li>
  <li><a href="https://bower.io/">Bower</a></li>
  <li><a href="http://phantomjs.org/">JavaScript</a></li>
  <li><a href="https://angularjs.org">Angular Framework</a></li>
</ul>
