<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <div *ngIf="isLoggedIn">
      <li class="navbar-text navbar-right">Logged In: {{user_displayName}} ({{user_email}})</li>
        <li><button class="btn btn-default" (click)="logout()">Logout</button></li>
    </div>
    <div *ngIf="!isLoggedIn">
      <p class="navbar-text navbar-right">Logged Out</p>
    </div>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="censor">Admin</a></li>
    </ul>
  </div>
</nav>
<h1>
  {{title}}
</h1>
<hr>
<!-- <div *ngIf="isLoggedIn" class=""> -->
  <router-outlet></router-outlet>
<!-- </div> -->
<!-- <div *ngIf="!isLoggedIn" class=""> -->
  <!-- <app-login-page></app-login-page> -->
<!-- </div> -->
