<h2> Currently Obligated Legislators:</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Filter By Party</h3>
    <select class="btn jade" (change)="onChangeParty($event.target.value)">
      <option value="All" selected="selected">All Parties</option>
      <option value="Populare">Populare</option>
      <option value="Optimate">Optimate</option>
    </select>
  </div>
  <div class="col-md-6">
    <h3>Filter By Position</h3>
    <select class="btn jade" (change)="onChangePosition($event.target.value)">
      <option value="Senator" selected="selected">All Senators</option>
      <option value="Consul">Consul</option>
      <option value="Censor">Censor</option>
    </select>
  </div>
</div>

<div class="well jade" *ngFor="let currentLegislator of legislators | party:selectedParty | position:selectedPosition" (click)="goToLegislator(currentLegislator.$key)">
  <div class="row">
    <div class="col-md-3">
      <img src={{currentLegislator.imgurl}} alt={{currentLegislator.name}}/>
    </div>
    <div class="col-md-9">
      <h3>{{currentLegislator.name}}</h3>
      <h5>Position: {{currentLegislator.position}}</h5>
      <h5>Party: {{currentLegislator.party}}</h5>
    </div>
  </div>
</div>
